/* Dark Theme Variables */
:root[data-theme="dark"] {
  --md-sys-color-primary: rgb(242 190 110);
  --md-sys-color-surface-tint: rgb(242 190 110);
  --md-sys-color-on-primary: rgb(68 44 0);
  --md-sys-color-primary-container: rgb(97 64 0);
  --md-sys-color-on-primary-container: rgb(255 221 175);
  --md-sys-color-secondary: rgb(220 195 161);
  --md-sys-color-on-secondary: rgb(61 46 22);
  --md-sys-color-secondary-container: rgb(85 68 42);
  --md-sys-color-on-secondary-container: rgb(249 222 187);
  --md-sys-color-tertiary: rgb(182 206 163);
  --md-sys-color-on-tertiary: rgb(35 53 23);
  --md-sys-color-tertiary-container: rgb(57 76 43);
  --md-sys-color-on-tertiary-container: rgb(210 234 189);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(24 19 11);
  --md-sys-color-on-background: rgb(237 225 212);
  --md-sys-color-surface: rgb(24 19 11);
  --md-sys-color-on-surface: rgb(237 225 212);
  --md-sys-color-surface-variant: rgb(79 69 57);
  --md-sys-color-on-surface-variant: rgb(210 196 180);
  --md-sys-color-outline: rgb(155 143 128);
  --md-sys-color-outline-variant: rgb(79 69 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(237 225 212);
  --md-sys-color-inverse-on-surface: rgb(54 47 39);
  --md-sys-color-inverse-primary: rgb(126 87 15);
  --md-sys-color-primary-fixed: rgb(255 221 175);
  --md-sys-color-on-primary-fixed: rgb(40 24 0);
  --md-sys-color-primary-fixed-dim: rgb(242 190 110);
  --md-sys-color-on-primary-fixed-variant: rgb(97 64 0);
  --md-sys-color-secondary-fixed: rgb(249 222 187);
  --md-sys-color-on-secondary-fixed: rgb(38 25 4);
  --md-sys-color-secondary-fixed-dim: rgb(220 195 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(85 68 42);
  --md-sys-color-tertiary-fixed: rgb(210 234 189);
  --md-sys-color-on-tertiary-fixed: rgb(14 32 5);
  --md-sys-color-tertiary-fixed-dim: rgb(182 206 163);
  --md-sys-color-on-tertiary-fixed-variant: rgb(57 76 43);
  --md-sys-color-surface-dim: rgb(24 19 11);
  --md-sys-color-surface-bright: rgb(63 56 47);
  --md-sys-color-surface-container-lowest: rgb(18 13 7);
  --md-sys-color-surface-container-low: rgb(32 27 19);
  --md-sys-color-surface-container: rgb(36 31 23);
  --md-sys-color-surface-container-high: rgb(47 41 33);
  --md-sys-color-surface-container-highest: rgb(58 52 43);
}